.RegisterComponent{
    position: relative;
    width: 30vw;
    margin: 10%;
}
.RegisterComponent img{
    width: 7vw;
}
.RegisterComponent h2{
    font-family: 'Raleway';
    font-weight: bold;
    color: #292F36;
    font-size: 1.8em;
    text-align: center;
}
.RegisterComponent p{
    font-family: 'Poppins';
    color: #292F36;
    font-size: 0.9em;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top:1vw; 
    margin-bottom: 2vw;
}

.RegisterComponent a{
    position: absolute;
    background-image: url('../../assets/button.webp');
    padding:  1.2vw 0vw;
    border-radius: 2vw;
    cursor: pointer;
    color: #fff;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 1.1em;
    width: 60%;
    left: 20%;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.RegisterComponent a:hover{
    transform: scale(1.1)
}


/*mediaqueries*/
@media (max-width: 1024px){
    .RegisterComponent img{
        width: 8vw;
    }
    .RegisterComponent h2{
        font-size: 1.2em;
    }
    .RegisterComponent p{
        font-size: 0.7em;
        width: 80%;
        left: 10%;
    }
    .RegisterComponent a{
        padding:2vw 0vw;
        width: 80%;
        left: 10%;
        border-radius: 6vw;
        font-size: .8em
    }
}

@media (max-width: 450px){
    .RegisterComponent{
        width: 100%;
        margin: 0;
        margin-top: 15%;
        
    }
    .RegisterComponent img{
        width: 20vw;
    }
    .RegisterComponent h2{
        font-size: 1.4em;
    }
    .RegisterComponent p{
        font-size: 0.7em;
    }
    .RegisterComponent a{
        padding:3vw 0vw;
        border-radius: 6vw;
        font-size: .9em
    }
}