.HowWorkView{
    position: relative;
    width: 100%;
    height: 200vh;
    background: #fff;
    background-image: url('../../assets/seed.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 0% 10%;
}
.storyLineContainer{
    position: absolute;
    left: 35vw;
    width: 10vw;
}