.RegisterCTAView{
    background: '#fff';
    width: 100%;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: row;

}

.RegisterContain{
    width: 90vw;
    left: 5vw;
    display: flex;
    flex-direction: row;
    position: relative;

}

/*mediaqueries*/

@media (max-width: 450px){
    .RegisterCTAView{
        height: 100vh;
    }
    .RegisterContain{
        flex-direction: column;
        margin-top: 30%;
    }
  
}