.GalleryComp{
    position: absolute;
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.row{
    position: relative;
    flex-direction: row;
}
.row img{
    margin-left: 1vw;
    margin-bottom: 1vw;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.row img:hover{
    transform: scale(1.04)
}
.amigos{
    width: 42%;
    position: relative;
    top: 4.7vw;
}
.business{
    width: 30%;
    position: relative;
}
.birth{
    width: 42%;
}
.family{
    width: 30%;
}



/*mediaqueries*/
@media (max-width: 500px){
    .GalleryComp{
        width: 80vw;
    }
    .row img{
        width: 80vw;
        margin: 2vw;
    }
    .amigos{
        top: 0;
    }
}