.HomeView{
    background: '#fff';
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url('../../assets/dots.png');
    background-size: 13%;
    background-repeat: no-repeat;
    background-position: 40% 20%;
    background-attachment: fixed;
}
.LogoComp{
    position: absolute;
    left: 15%;
    top: 10%;
}
/*nav*/
.NavHome{
    width: 30vw;
    position: absolute;
    top: 12%;
    right: 10%;
}
.NavHome a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 0.9em;
    padding: 1vw 2.5vw;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.buttonHowWork{
    color: #292F36;
}
.buttonChef{
    border: 1px solid #e29D28;
    border-radius: 3em;
    color: #e29D28;
}
.buttonHowWork:hover{
    color: #505c64;
}

.buttonChef:hover{
   transform: scale(1.1);
   color: #ffcd76;
   border-color: #ffcd76
}

/**/
.HomeView img{
    width: 25vw;
    position: absolute;
    right: 20%;
    bottom: 20%;
}
/*title*/
.HomeTitleComp{
    position: absolute;
    left: 15%;
    bottom: 40%;
    user-select: none;
}
.HomeTitleComp h1{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    margin: 0;
}
.blackTitle{
    color: #292F36;
}
.orangeTitle{
    color:#e29D28
}
.HomeTitleComp p{
    width: 80%;
    text-align: left;
    font-family: 'Poppins';
    font-size: 0.9em;
    margin:0;
    margin-top: 2vw;
    color:#686868;
}

/*CTA*/
.buttonCTA{
    position: absolute;
    padding: 1.5vw 3.5vw;
    width: 10vw;
    background: #e29D28;
    box-shadow: 0px 0px 40px -15px #666;
    border-radius: 4vw;
    bottom: 25%;
    left: 15%;

    text-decoration: none;
    color: #fff;    
    font-size: 0.9em;
    font-family: 'Open Sans';
    font-weight: bold;

    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1)

}
.buttonCTA:hover{
    transform: scale(1.08)
}